.cm {
    z-index: 300;
    position: absolute;
    left: 5px;
    border: 1px solid #444;
    background-color: #F5F5F5;
    display: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 700;
}

.cm ul {
    list-style: none;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.cm li {
    position: relative;
    min-width: 60px;
    cursor: pointer;
}

.cm span {
    color: #444;
    display: inline-block;
    padding: 6px;
}

.cm li:hover {
    background: #444;
}

.cm li:hover span {
    color: #EEE;
}

.tvu ul, .tvu li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.tvu input {
    position: absolute;
    opacity: 0;
}

.tvu {
    font: normal 12px Verdana, Arial, Sans-serif;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    color: #444;
    line-height: 16px;
}

.tvu span {
    margin-bottom: 5px;
    padding: 0 0 0 18px;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    vertical-align: middle;
    background: url(data:image/png; base64, iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAADoSURBVBgZBcExblNBGAbA2ceegTRBuIKOgiihSZNTcC5LUHAihNJR0kGKCDcYJY6D3/77MdOinTvzAgCw8ysThIvn/VojIyMjIyPP+bS1sUQIV2s95pBDDvmbP/mdkft83tpYguZq5Jh/OeaYh+yzy8hTHvNlaxNNczm+la9OTlar1UdA/+C2A4trRCnD3jS8BB1obq2Gk6GU6QbQAS4BUaYSQAf4bhhKKTFdAzrAOwAxEUAH+KEM01SY3gM6wBsEAQB0gJ+maZoC3gI6iPYaAIBJsiRmHU0AALOeFC3aK2cWAACUXe7+AwO0lc9eTHYTAAAAAElFTkSuQmCC) no-repeat;
    background-position: 0 0;
}

.tvu span:hover {
    text-decoration: underline;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .tvu {
    -webkit-animation: webkit-adjacent-element-selector-bugfix infinite 1s;
    }
}

@-webkit-keyframes webkit-adjacent-element-selector-bugfix {
    from {
    padding: 0;
    }
    to {
    padding: 0;
    }
}

#uploader {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 28px;
    line-height: 24px;
    padding-left: 10px;
    background-color: #444;
    color: #EEE;
}

#tree {
    position: absolute;
    top: 28px;
    bottom: 0;
    left: 0;
    width: 160px;
    padding: 8px;
}

#editor, #preview {
    position: absolute;
    top: 28px;
    right: 0;
    bottom: 0;
    left: 160px;
    border-left: 1px solid #EEE;
}

#preview {
    background-color: #EEE;
    padding: 5px;
}
